USE [master]
GO
/****** Object:  Database [IngenieriaSoftware]    Script Date: 20/5/2026 03:35:04 ******/
CREATE DATABASE [IngenieriaSoftware]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IngenieriaSoftware', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IngenieriaSoftware.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IngenieriaSoftware_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IngenieriaSoftware_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IngenieriaSoftware].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IngenieriaSoftware]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 20/5/2026 03:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 20/5/2026 03:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [float] NOT NULL,
	[IdRol] [int] NOT NULL,
	[Usuario] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](200) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Telefono] [varchar](50) NULL,
	[Email] [varchar](150) NULL,
	[Estado] [varchar](20) NOT NULL,
	[Bloqueado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Usuarios]    Script Date: 20/5/2026 03:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
-- =============================================
-- Vista: usuarios con nombre de rol legible
-- =============================================
CREATE VIEW [dbo].[vw_Usuarios] AS
SELECT
    p.IdPersona,
    p.Nombre,
    p.Apellido,
    p.DNI,
    p.Usuario,
    p.Email,
    p.Telefono,
    r.Nombre      AS Rol,
    p.Estado
FROM Persona p
INNER JOIN Rol r ON p.IdRol = r.IdRol;
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 20/5/2026 03:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](100) NOT NULL,
	[Accion] [varchar](100) NOT NULL,
	[Modulo] [varchar](100) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Criticidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BitacoraReciente]    Script Date: 20/5/2026 03:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
-- =============================================
-- Vista: bitácora reciente (últimos 500 eventos)
-- =============================================
CREATE VIEW [dbo].[vw_BitacoraReciente] AS
SELECT TOP 500
    Id,
    Usuario,
    Accion,
    Modulo,
    Fecha,
    Descripcion,
    Criticidad
FROM Bitacora
ORDER BY Fecha DESC;
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id], [Usuario], [Accion], [Modulo], [Fecha], [Descripcion], [Criticidad]) VALUES (1, N'der437', N'Login OK', N'Seguridad', CAST(N'2026-05-19T22:24:45.140' AS DateTime), N'Usuario der437 inició sesión', 1)
INSERT [dbo].[Bitacora] ([Id], [Usuario], [Accion], [Modulo], [Fecha], [Descripcion], [Criticidad]) VALUES (2, N'der437', N'Login OK', N'Seguridad', CAST(N'2026-05-19T22:24:50.013' AS DateTime), N'Usuario der437 inició sesión', 1)
INSERT [dbo].[Bitacora] ([Id], [Usuario], [Accion], [Modulo], [Fecha], [Descripcion], [Criticidad]) VALUES (3, N'der437', N'Login OK', N'Seguridad', CAST(N'2026-05-19T22:26:37.773' AS DateTime), N'Usuario der437 inició sesión', 1)
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([IdPersona], [DNI], [IdRol], [Usuario], [PasswordHash], [Nombre], [Apellido], [Telefono], [Email], [Estado], [Bloqueado]) VALUES (1, 43719192, 1, N'der437', N'CQLYMjwrfTSSy7oc3Q0QdooVMirwfa+Ed/uhGpUXKa4=', N'Derek', N'Metz', NULL, N'demet@metz.com', N'Habilitado', 0)
INSERT [dbo].[Persona] ([IdPersona], [DNI], [IdRol], [Usuario], [PasswordHash], [Nombre], [Apellido], [Telefono], [Email], [Estado], [Bloqueado]) VALUES (2, 12345678, 2, N'alb123', N'idnP47IY1n5ncr8Dbn0w/VbhxILg6/2mUpQzxfbL4Xw=', N'Alberto', N'Sanchez', N'', N'alsan@sanchez.com', N'Deshabilitado', 0)
INSERT [dbo].[Persona] ([IdPersona], [DNI], [IdRol], [Usuario], [PasswordHash], [Nombre], [Apellido], [Telefono], [Email], [Estado], [Bloqueado]) VALUES (3, 23456789, 2, N'ped234', N'81ufwIP7w6xo6LoUc0T3q2vKQPfg3eGy89Pxe9KWVJE=', N'Pedro', N'Pascal', N'', N'pepas@pascal.com', N'Habilitado', 0)
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Nombre], [Descripcion]) VALUES (1, N'Administrador', N'Acceso total al sistema: crear, modificar, deshabilitar y desbloquear usuarios')
INSERT [dbo].[Rol] ([IdRol], [Nombre], [Descripcion]) VALUES (2, N'Usuario', N'Acceso básico: solo puede cambiar su propia contraseña')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
/****** Object:  Index [IX_Bitacora_Fecha]    Script Date: 20/5/2026 03:35:04 ******/
CREATE NONCLUSTERED INDEX [IX_Bitacora_Fecha] ON [dbo].[Bitacora]
(
	[Fecha] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bitacora_Modulo]    Script Date: 20/5/2026 03:35:04 ******/
CREATE NONCLUSTERED INDEX [IX_Bitacora_Modulo] ON [dbo].[Bitacora]
(
	[Modulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bitacora_Usuario]    Script Date: 20/5/2026 03:35:04 ******/
CREATE NONCLUSTERED INDEX [IX_Bitacora_Usuario] ON [dbo].[Bitacora]
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bitacora_Usuario_Accion_Fecha]    Script Date: 20/5/2026 03:35:04 ******/
CREATE NONCLUSTERED INDEX [IX_Bitacora_Usuario_Accion_Fecha] ON [dbo].[Bitacora]
(
	[Usuario] ASC,
	[Accion] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Persona__C035B8DD5D4CE3C4]    Script Date: 20/5/2026 03:35:04 ******/
ALTER TABLE [dbo].[Persona] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Persona__E3237CF7D0670336]    Script Date: 20/5/2026 03:35:04 ******/
ALTER TABLE [dbo].[Persona] ADD UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Persona_Usuario]    Script Date: 20/5/2026 03:35:04 ******/
CREATE NONCLUSTERED INDEX [IX_Persona_Usuario] ON [dbo].[Persona]
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rol__75E3EFCFA7C5CEEB]    Script Date: 20/5/2026 03:35:04 ******/
ALTER TABLE [dbo].[Rol] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT ((1)) FOR [Criticidad]
GO
ALTER TABLE [dbo].[Persona] ADD  DEFAULT ('Habilitado') FOR [Estado]
GO
ALTER TABLE [dbo].[Persona] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Rol]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [CK_Bitacora_Criticidad] CHECK  (([Criticidad]>=(1) AND [Criticidad]<=(5)))
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [CK_Bitacora_Criticidad]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [CK_Persona_Estado] CHECK  (([Estado]='Deshabilitado' OR [Estado]='Habilitado'))
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [CK_Persona_Estado]
GO
USE [master]
GO
